build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

*.png
*.jpg
*.jpeg


# Checkpoint files
*.ckpt
*.pth
*.pt
*.model
*.bin
*.safetensors
*.ckpt.index
*.index
*.meta
*.data-00000-of-00001
*.tar
*.tar.gz
*.zip
*.h5
*.hdf5
*.pb

# Ignore shell scripts
*.sh

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/
